<div class="container-fluid">
  <form action="https://twitter.us20.list-manage.com/subscribe/post?u=1093bb70c3ad2fc2dc681f14a&amp;id=e64c240de9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="row update-submit-section ">
      <div class="submit-section-input-group">
        <input placeholder="Enter Your Email Address" type="email" value="" name="EMAIL" id="mce-EMAIL" class="required email input">
        <input type="submit" value="Get Early Access" name="subscribe" id="mc-embedded-subscribe" class="btn btn-outline-light btn-outline btn-outline-theme uppercase">
      </div>
    </div>
  </form>
</div>


<footer>
  <div class="container padded-top">
    <div class="row padded-above">
      <div class="col">
        <% link_to 'https://github.com/liquality' do %>
          <i class="fab fa-4x fa-github"></i>
        <% end %>
        <% link_to 'https://medium.com/liquality' do %>
          <i class="fab fa-4x fa-medium"></i>
        <% end %>
        <% link_to 'https://web.telegram.org/#/im?p=@liquality' do %>
          <i class="fab fa-4x fa-twitter"></i>
        <% end %>
      </div>
      <div class="col-md-2">
        <h6><%= link_to 'Product', '/about/' %></h6>
        <!-- <h6>Community</h6> -->
        <h6><%= link_to 'Paper', '/faq/' %></h6>

        <h6><%= link_to 'Community', '/privacy-policy/' %></h6>
      </div>
    </div>
    <div class="row">
      <p>2018 &#169; Atomic Loans, a ConsenSys Formation</p>
    </div>
  </div>
</footer>