---
title: Leverage crypto without middlemen - Atomic Loans
slug: home
---

<div class="container margin-top-lg-device-lg margin-bottom-2x landing-section padded-width">
  <div class="row">
    <div class="col-lg-8 margin-top-lg text-center">
      <h2 class="text-center"><span class="theme">Borrow</span> and <span class="theme">lend</span> crypto on your <span class="theme">terms</span> from the <span class="theme">safety</span> of your <span class="theme">wallet</span></h2>

      <%= link_to 'GET EARLY ACCESS', '/wip/', class: 'btn btn-primary margin-top more-border-radius btn-early-access' %>

<!--       <form action="https://twitter.us20.list-manage.com/subscribe/post?u=1093bb70c3ad2fc2dc681f14a&amp;id=e64c240de9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="input-group mb-3 right-input-theme padding">
          <input class="form-control required email full-width-sm" placeholder="ENTER YOUR EMAIL ADDRESS" type="email" value="" name="EMAIL" id="mce-EMAIL">
          <div class="input-group-append full-width-sm">
            <input type="submit" value="GET EARLY ACCESS" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
          </div>
        </div>
      </form> -->
    </div>
    <div class="col-lg-4 margin-top-lg-device-sm">
      <img src="images/loan_form.svg">
      <!-- <div class="loan-chooser">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Borrow</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Lend</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p>Enter Loan Amount</p>
            <div class="input-group mb-3">
              <input type="number" class="form-control no-border-radius loan-amount" placeholder="5000" type="number" min="0.00" max="10000.00" step="0.01">
              <div class="input-group-append">
                <span class="input-group-text input-group-text-theme" id="basic-addon2">$</span>
              </div>
            </div>
            <p class="margin-top-sm">Choose a stablecoin</p>
            <div class="coin-info-container"><div class="coin-container"><div class="coin borrow-stablecoin active"><img src="images/dai.svg" width="48" height="48"></div></div><div class="text-center small-text">DAI</div></div>
            <div class="coin-info-container"><div class="coin-container"><div class="coin borrow-stablecoin"><img src="images/usdc.svg" width="48" height="48"></div></div><div class="text-center small-text">USDC</div></div>
            <div class="coin-info-container"><div class="coin-container"><div class="coin borrow-stablecoin"><img src="images/gusd.svg" width="48" height="48"></div></div><div class="text-center small-text">GUSD</div></div>
            <p class="margin-top-sm">Choose your collateral</p>
            <div class="coin-info-container"><div class="coin-container"><div class="coin borrow-collateral active"><img src="images/btc.svg" width="48" height="48"></div></div><div class="text-center small-text">BTC</div></div>
            <div class="coin-info-container"><div class="coin-container"><div class="coin borrow-collateral"><img src="images/ltc.svg" width="48" height="48"></div></div><div class="text-center small-text">LTC</div></div>
            <div class="margin-top-sm margin-bottom-sm"><button type="button" class="btn btn-dark btn-round-theme">GET EARLY ACCESS</button></div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <p>Enter Loan Amount</p>
            <div class="input-group mb-3">
              <input type="number" class="form-control no-border-radius loan-amount" placeholder="5000" type="number" min="0.00" max="10000.00" step="0.01">
              <div class="input-group-append">
                <span class="input-group-text input-group-text-theme" id="basic-addon2">$</span>
              </div>
            </div>
            <p class="margin-top-sm">Choose your stablecoin</p>
            <div class="coin-info-container"><div class="coin-container"><div class="coin borrow-stablecoin active"><img src="images/dai.svg" width="48" height="48"></div></div><div class="text-center small-text">DAI</div></div>
            <div class="coin-info-container"><div class="coin-container"><div class="coin borrow-stablecoin"><img src="images/usdc.svg" width="48" height="48"></div></div><div class="text-center small-text">USDC</div></div>
            <div class="coin-info-container"><div class="coin-container"><div class="coin borrow-stablecoin"><img src="images/gusd.svg" width="48" height="48"></div></div><div class="text-center small-text">GUSD</div></div>
            <p class="margin-top-sm">Choose preferred collateral</p>
            <div class="coin-info-container"><div class="coin-container"><div class="coin borrow-collateral active"><img src="images/btc.svg" width="48" height="48"></div></div><div class="text-center small-text">BTC</div></div>
            <div class="coin-info-container"><div class="coin-container"><div class="coin borrow-collateral"><img src="images/ltc.svg" width="48" height="48"></div></div><div class="text-center small-text">LTC</div></div>
            <div class="margin-top-sm margin-bottom-sm"><button type="button" class="btn btn-dark btn-round-theme">GET EARLY ACCESS</button></div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="container-fluid split-theme padding-top-lg padding-bottom-lg">
  <div class="row">
    <div class="container padded-width">
      <div class="row">
        <div class="col-md-6 miner-problem-section">
          <h3>Cryptocurrency Miners</h3>
          <div class="row margin-top-sm">
            <div class="col-md-3">
              <img src="images/money-bill-electric.svg" class="full-width padding-sm padding-width-lg-device-sm">
            </div>
            <div class="col-md-9">
              <p>Need <span class="theme">stablecoin/fiat</span> liquidity to cover operational and capital <span class="theme">expenditures</span></p>
            </div>
          </div>
          <div class="row margin-top-sm">
            <div class="col-md-3">
              <img src="images/chart-line.svg" class="full-width svg-invert padding-sm padding-width-lg-device-sm">
            </div>
            <div class="col-md-9">
              <p>Want to <span class="theme">hold</span> crypto and remain exposed to its <span class="theme">upside potential</span></p>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-3">
              <img src="images/bitcoin-gains.svg" class="full-width padding-sm padding-width-lg-device-sm">
            </div>
            <div class="col-md-9">
              <p>Must pay <span class="theme">capital gains tax</span> every time they liquidate their crypto </p>
            </div>
          </div>
        </div>
        <div class="col-md-5 offset-md-1 investor-problem-section margin-top-lg-device-sm">
          <h3>Cryptocurrency Investors</h3>
          <div class="row margin-top-md">
            <div class="col-md-9 order-md-1 order-sm-12">
              <p>Want to earn <span class="theme">passive income</span> on the crypto they hold</p>
            </div>
            <div class="col-md-3 order-md-12 order-sm-1">
              <img src="images/percentage.svg" class="full-width padding-sm padding-width-xl-device-sm percentage-img">
            </div>
          </div>
          <div class="row margin-top-sm">
            <div class="col-md-9 margin-top-device-sm">
              <p>Lack <span class="theme">choice</span> and <span class="theme">flexibility</span> to dictate <span class="theme">how</span> they lend and <span class="theme">what</span> they lend</p>
            </div>
            <div class="col-md-3 order-md-last order-sm-first margin-top-device-sm">
              <img src="images/stablecoins.svg" class="full-width svg-invert padding-width-lg-device-sm">
            </div>
          </div>
          <div class="row margin-top-sm">
            <div class="col-md-9">
              <p>Fear the <span class="theme">loss of funds</span> stored with centralized trusted <span class="theme">custodians</span></p>
            </div>
            <div class="col-md-3 order-md-last order-sm-first">
              <img src="images/bank.svg" class="full-width padding-width-lg-device-sm">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid dark-theme padding-top-lg padding-bottom-lg text-center features-section">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 padding">
          <h2>Trustless, cross-chain debt agreements for miners and retail investors</h2>
        </div>
      </div>
      <div class="row margin-top">
        <div class="col-md-4 padded-width-md margin-top-lg-device-sm">
          <img src="images/p2p.svg">
          <h4 class="padding-top-sm">Trustless</h4>
          <p>Engage in loans without trusting middlemen or centralized custodians</p>
        </div>
        <div class="col-md-4 padded-width-md margin-top-lg-device-sm">
          <img src="images/cross-chain.svg">
          <h4 class="padding-top-md">Cross-chain</h4>
          <p>First ever decentralized protocol for cross-chain debt, allowing almost all crypto assets as collateral </p>
        </div>
        <div class="col-md-4 padded-width-md margin-top-lg-device-sm">
          <img src="images/sliders.svg">
          <h4 class="padding-top">Flexible</h4>
          <p>Choose terms and rates that work for you</p>
        </div>
      </div>
      <div class="row margin-top">
        <div class="col-md-4 offset-md-2 padded-width-md margin-top-lg-device-sm">
          <img src="images/key.svg">
          <h4 class="padding-top-sm">Secure</h4>
          <p>Borrow and lend direct from your crypto wallet with full custody of the funds in your debt agreements</p>
        </div>
        <div class="col-md-4 padded-width-md margin-top-lg-device-sm">
          <img src="images/globe.svg">
          <h4 class="padding-top-sm">Borderless</h4>
          <p>Access to borrowers and lenders across the globe</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid dark-theme-alt padding-top-lg padding-bottom-lg">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12 text-center">
        <h2><span class="theme">Extending</span> atomic swap technology</h2>
        <h4 class="weight-300">to make crypto-backed loans accessible, flexible, and secure. Spend less time paying fees and more time catching up on crypto memes.</h4>
      </div>
      <div class="col-md-5 col-sm-12 margin-top-device-sm">
        <div class="row">
          <div class="col-md-4 offset-md-1 col-sm-4 swap-collateral-slider">
            <img src="images/btc.svg" width="100%">
          </div>
          <div class="col-md-3 col-sm-4 text-center">
            <i class="fas fa-exchange-alt fa-5x padding-top"></i>
          </div>
          <div class="col-md-4 col-sm-4 swap-loan-slider">
            <img src="images/dai.svg" width="100%">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
