---
title: Leverage crypto without middlemen - Atomic Loans
slug: home
---
<div class="container margin-top-lg-device-lg margin-bottom-2x landing-section padded-width text-center">
  <div class="row">
    <div class="col-lg-8 margin-top-lg text-center">
      <h2 class="text-center" id="big-text"><span class="theme">Borrow and lend</span> crypto on <span class="theme">your terms</span> from the safety of <span class="theme">your wallet</span></h2>

      <%= link_to 'GET EARLY ACCESS', 'https://goo.gl/forms/WIwXt0yvRr3hjJo92', class: 'btn btn-primary margin-top more-border-radius btn-early-access', target: :_blank %>
    </div>
    <div class="col-lg-4 margin-top-lg-device-sm">
      <img src="images/loan_form.svg">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 learn-more-text">
      <h5 class="text-center">Learn more</h5>
      <p class="text-center"><i class="fas fa-chevron-down fa-2x scroll-down"></i></p>
    </div>
  </div>
</div>

<div class="container-fluid split-theme padding-top-lg padding-bottom-lg">
  <div class="row">
    <div class="container padded-width">
      <div class="row">
        <div class="col-md-6 miner-problem-section">
          <h3>Cryptocurrency Miners</h3>
          <div class="row margin-top-sm">
            <div class="col-md-3">
              <img src="images/money-bill-electric.svg" class="full-width padding-sm padding-width-lg-device-sm">
            </div>
            <div class="col-md-9">
              <p>Need <span class="theme">stablecoin/fiat</span> liquidity to cover operational and capital <span class="theme">expenditures</span></p>
            </div>
          </div>
          <div class="row margin-top-sm">
            <div class="col-md-3">
              <img src="images/chart-line.svg" class="full-width svg-invert padding-sm padding-width-lg-device-sm">
            </div>
            <div class="col-md-9">
              <p>Want to <span class="theme">hold</span> crypto and remain exposed to its <span class="theme">upside potential</span></p>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-3">
              <img src="images/bitcoin-gains.svg" class="full-width padding-sm padding-width-lg-device-sm">
            </div>
            <div class="col-md-9">
              <p>Must pay <span class="theme">capital gains tax</span> every time they liquidate their crypto </p>
            </div>
          </div>
        </div>
        <div class="col-md-5 offset-md-1 investor-problem-section margin-top-lg-device-sm">
          <h3>Cryptocurrency Investors</h3>
          <div class="row margin-top-md">
            <div class="col-md-9 order-md-1 order-12">
              <p>Want to earn <span class="theme">passive income</span> on the crypto they hold</p>
            </div>
            <div class="col-md-3 order-md-12 order-1">
              <img src="images/percentage.svg" class="full-width padding-sm padding-width-xl-device-sm percentage-img">
            </div>
          </div>
          <div class="row margin-top-xs">
            <div class="col-md-9 order-md-1 order-12">
              <p>Lack <span class="theme">choice</span> and <span class="theme">flexibility</span> to dictate <span class="theme">how</span> they lend and <span class="theme">what</span> they lend</p>
            </div>
            <div class="col-md-3 order-md-12 order-1 margin-top-device-sm">
              <img src="images/stablecoins.svg" class="full-width svg-invert padding-width-lg-device-sm">
            </div>
          </div>
          <div class="row margin-top">
            <div class="col-md-9 order-md-1 order-12">
              <p>Fear the <span class="theme">loss of funds</span> stored with centralized trusted <span class="theme">custodians</span></p>
            </div>
            <div class="col-md-3 order-md-12 order-1">
              <img src="images/bank.svg" class="full-width padding-width-lg-device-sm">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid dark-theme padding-top-lg padding-bottom-lg text-center features-section">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 padding">
          <h2>Trustless, cross-chain debt agreements for miners and retail investors</h2>
        </div>
      </div>
      <div class="row margin-top">
        <div class="col-md-4 padded-width-md margin-top-lg-device-sm">
          <img src="images/p2p.svg">
          <h4 class="padding-top-sm">Trustless</h4>
          <p>Engage in loans without trusting middlemen or centralized custodians</p>
        </div>
        <div class="col-md-4 padded-width-md margin-top-lg-device-sm">
          <img src="images/cross-chain.svg">
          <h4 class="padding-top-md">Cross-chain</h4>
          <p>First ever decentralized protocol for cross-chain debt, allowing almost all crypto assets as collateral </p>
        </div>
        <div class="col-md-4 padded-width-md margin-top-lg-device-sm">
          <img src="images/sliders.svg">
          <h4 class="padding-top">Flexible</h4>
          <p>Choose terms and rates that work for you</p>
        </div>
      </div>
      <div class="row margin-top">
        <div class="col-md-4 offset-md-2 padded-width-md margin-top-lg-device-sm">
          <img id="key-icon" src="images/key.svg">
          <h4 class="padding-top-sm">Secure</h4>
          <p>Borrow and lend direct from your crypto wallet with full custody of the funds in your debt agreements</p>
        </div>
        <div class="col-md-4 padded-width-md margin-top-lg-device-sm">
          <img src="images/globe.svg">
          <h4 class="padding-top-sm">Borderless</h4>
          <p>Access to borrowers and lenders across the globe</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid dark-theme-alt padding-top-lg padding-bottom-lg">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12 text-center">
        <h2><span class="theme">Extending</span> atomic swap technology</h2>
        <h4 class="weight-300">to make crypto-backed loans accessible, flexible, and secure. Spend less time paying fees and more time catching up on crypto memes.</h4>
        <%= link_to 'READ THE PAPER', 'https://arxiv.org/abs/1901.05117', class: 'btn btn-outline-light btn-outline btn-outline-theme btn-lg uppercase margin-top-sm', target: :_blank %>
      </div>
      <div class="col-md-5 col-sm-12 margin-top-device-sm">
        <div class="row">
          <div class="col-md-4 offset-md-1 col-sm-4 swap-collateral-slider">
            <img src="images/btc.svg" width="100%">
          </div>
          <div class="col-md-3 col-sm-4 text-center">
            <i class="fas fa-exchange-alt fa-5x padding-top"></i>
          </div>
          <div class="col-md-4 col-sm-4 swap-loan-slider">
            <img src="images/dai.svg" width="100%">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
